      {{>head}}
      {{>navbar}}

    <!-- Main Header -->
     
    <div class="container-fluid main_header">
        <div class="row">
             <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                    <!-- right-side -->
                     <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img class="img-fluid " src="Images/404.jpg" alt="display-pic">
                        </figure>
                        <p>Error!</p>
                        <h1> Oops! Page Not Found. </h1>
                        <a href="/"><button>Go back</button></a>
                     </div>

                  </div>
             </div>
        </div>
    </div>

{{> foot}}