      {{>head}}
      {{>navbar}}

    <!-- Main Header -->
     
    <div class="container-fluid main_header">
        <div class="row">
             <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                    <!-- right-side -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img class="img-fluid" src="Images/pro-pic.png" alt="display-pic">
                        </figure>
                      </div>
                     <!-- left-side -->
                     <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to BlueSky</p>
                        <h1>I am a  <span class= "weather-clr" >Web Developer</span> and a Programmer. </h1>
                        <a href="https://www.linkedin.com/in/ashutosh-jaiswal-2b90b7192/"><button>About me</button></a>
                     </div>

                  </div>
             </div>
        </div>
    </div>

{{> foot}}